{{ preload_state 'customer_address' }}
{{ preload_state 'shop' }}

{{ assign 'mode' request.uri.query.mode}}

{{ assign 'id' 'customer-bind'}}

<div class="customer bind" id="{{ id }}">
  <h3 class="bind__title">{{ cond (eq mode 'phone') (t 'customer.general.bind__change_phone') (t 'customer.general.bind__change_email')}}</h3>

  <div class="customer__tips"></div>

  {{ snippet 'customer/bind/verify-form' id=(append id '-verify') }}
  {{ snippet 'customer/bind/account-form' id=(append id '-account') }}

  <div class="customer__footer-link  text-center">
    <a href="{{redirect_to '/user/center'}}" class="customer--link">
      {{t 'customer.general.back_to__user__center'}}
    </a>
  </div>
</div>