{{ preload_state 'customer_address' }}
{{ preload_state 'shop' }}

{{ assign 'id' 'reset-password'}}

<div class="customer reset-password" id="{{ id }}">
  <h3 class="reset-password__title">{{ t 'customer.general.update_passport' }}</h3>

  <div class="customer__tips"></div>

  {{ snippet 'customer/reset-password/verify-form' id=(append id '-verify') }}
  {{ snippet 'customer/reset-password/reset-form' id=(append id '-reset') }}

  <div class="customer__footer-link text-center">
    <a href="{{redirect_to '/user/center'}}" class="customer--link">
      {{t 'customer.general.back_to__user__center'}}
    </a>
  </div>
</div>