<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="x-dns-prefetch-control" content="on">

  {{ snippet 'seo-meta/default' }}
  {{ snippet 'title-tag/default' }}
  {{#if theme.settings.favicon_image}}
    <link rel="shortcut icon" href="{{ theme.settings.favicon_image }}" type="image/png">
  {{/if}}

  <link rel="dns-prefetch" href="https://cdn.myshopline.com">
  <link rel="preconnect" href="https://cdn.myshopline.com">
  <link rel="dns-prefetch" href="https://img.myshopline.com">
  <link rel="preconnect" href="https://img.myshopline.com">
  <link rel="dns-prefetch" href="https://img-va.myshopline.com">
  <link rel="preconnect" href="https://img-va.myshopline.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  {{ content_for_header }}
  {{#if request.document_direction '===' 'rtl'}}
  {{ combine_asset_tag 'product/giftCard/style/index.rtl.css' inline=true}}
{{else}}
  {{ combine_asset_tag 'product/giftCard/style/index.css' inline=true}}
{{/if}}
</head>

<body class="template--le template__{{ replace template '/' '-' }}">
  {{ content_for_layout }}
  <!-- product/giftCard/main.js -->
  {{ combine_asset_tag 
    'vendors/qrcode.min.js'
    'vendors/jsbarcode.min.js'
    type="text/javascript"
    defer=true
  }}
  {{ combine_asset_tag 
    'product/giftCard/main.js'
    type="text/javascript"
    defer=true
  }}
  
  
  {{ content_for_footer }}
</body>
</html>