<!DOCTYPE html>
<html lang="{{ request.locale }}" dir="{{ request.document_direction }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="x-dns-prefetch-control" content="on">

  {{#if theme.settings.favicon_image}}
    <link rel="shortcut icon" href="{{ theme.settings.favicon_image }}" type="image/png">
  {{/if}}

  <link rel="dns-prefetch" href="https://cdn.myshopline.com">
  <link rel="preconnect" href="https://cdn.myshopline.com">
  <link rel="dns-prefetch" href="https://img.myshopline.com">
  <link rel="preconnect" href="https://img.myshopline.com">
  <link rel="dns-prefetch" href="https://img-va.myshopline.com">
  <link rel="preconnect" href="https://img-va.myshopline.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  {{ snippet 'theme-css-var' }}


  {{ snippet 'seo-meta/creator' }}

  {{ snippet 'title-tag/creator' }}

  {{#if request.document_direction '===' 'rtl'}}
  {{ combine_asset_tag 'commons/layout/theme/index.rtl.css' inline=true}}
{{else}}
  {{ combine_asset_tag 'commons/layout/theme/index.css' inline=true}}
{{/if}}

  {{ preload_state 'imgNoReferrerSwitch' }}

  {{ content_for_header }}

  {{ snippet 'pre-script' }}

  <!-- commons/layout/theme/index.js -->
  {{#if request.document_direction '===' 'rtl'}}
    {{ combine_asset_tag 'vendors/@yy_sl-theme-shared.min.rtl.css' inline=true }}
    {{ combine_asset_tag 'vendors/@sl_cart.min.rtl.css' inline=true }}
    {{ combine_asset_tag 'vendors/swiper.min.rtl.css' inline=true }}
    {{ combine_asset_tag 'vendors/normalize.css.min.rtl.css' inline=true }}
  {{else}}
    {{ combine_asset_tag 'vendors/@yy_sl-theme-shared.min.css' inline=true }}
    {{ combine_asset_tag 'vendors/@sl_cart.min.css' inline=true }}
    {{ combine_asset_tag 'vendors/swiper.min.css' inline=true }}
    {{ combine_asset_tag 'vendors/normalize.css.min.css' inline=true }}
  {{/if}}
  {{ combine_asset_tag 
    'vendors/eventemitter3.min.js'
    'vendors/js-cookie.min.js'
    'vendors/dayjs.min.js'
    'vendors/@sl_logger.min.js'
    'vendors/debug.min.js'
    'vendors/lodash.min.js'
    'vendors/axios.min.js'
    'vendors/query-string.min.js'
    'vendors/@sl_currency-tools-core.min.js'
    'vendors/uuid.min.js'
    'vendors/@sl_pay-button.min.js'
    'vendors/@yy_sl-theme-shared.min.js'
    'vendors/scroll-lock.min.js'
    'vendors/url.min.js'
    'vendors/querystring.min.js'
    'vendors/@yy_sl-ec-tracker.min.js'
    'vendors/@sl_cart.min.js'
    'vendors/@funnyecho_hamon.min.js'
    'vendors/photoswipe.min.js'
    'vendors/swiper.min.js'
    'vendors/yt-player.min.js'
    'vendors/@yy_sl-mc.min.js'
    'vendors/normalize.css.min.js'
    type="text/javascript"
    defer=true
  }}
  {{ combine_asset_tag 
    'theme-shared/utils/get-env.js'
    'theme-shared/utils/event-bus.js'
    'theme-shared/utils/parsePathToArray.js'
    'theme-shared/utils/state-selector.js'
    'theme-shared/utils/report/hdReport.js'
    'theme-shared/utils/report/@hiido.js'
    'theme-shared/utils/createLogger.js'
    'theme-shared/utils/report/utils.js'
    'theme-shared/utils/report/const.js'
    'theme-shared/utils/report/index.js'
    'theme-shared/utils/syntax-patch.js'
    'theme-shared/utils/i18n.js'
    'theme-shared/utils/request.js'
    'theme-shared/utils/retryRequest.js'
    'theme-shared/utils/url-adaptor.js'
    'theme-shared/utils/newCurrency/CurrencyConvert.js'
    'theme-shared/utils/newCurrency/index.js'
    'theme-shared/utils/dataReport/tool.js'
    'theme-shared/utils/dataReport/ga.js'
    'theme-shared/utils/dataReport/gad.js'
    'theme-shared/utils/dataReport/fb.js'
    'theme-shared/utils/report/tool.js'
    'theme-shared/utils/tradeReport/index.js'
    'theme-shared/components/hbs/shared/components/toast/toast.js'
    'theme-shared/components/hbs/shared/components/toast/loading.js'
    'theme-shared/components/hbs/shared/components/toast/index.js'
    'theme-shared/components/smart-payment/constants.js'
    'theme-shared/const/preload-state-fields.js'
    'theme-shared/components/smart-payment/utils.js'
    'theme-shared/utils/tradeReport/const.js'
    'theme-shared/utils/dataAccessor.js'
    'theme-shared/utils/url.js'
    'theme-shared/utils/constant.js'
    'theme-shared/utils/checkout.js'
    'theme-shared/events/utils/api-logger.js'
    'theme-shared/events/trade/developer-api/navigate-checkout/index.js'
    'theme-shared/events/trade/developer-api/get-cart-id/index.js'
    'theme-shared/events/trade/developer-api/render-paypal/index.js'
    'theme-shared/events/trade/interior-event/index.js'
    'theme-shared/events/trade/developer-api/navigate-cart/index.js'
    'theme-shared/events/trade/enum/index.js'
    'theme-shared/events/trade/developer-api/add-to-cart/index.js'
    'theme-shared/events/trade/developer-api/update-checkout-detail/index.js'
    'theme-shared/events/trade/developer-api/control-cart-basis/index.js'
    'theme-shared/events/trade/developer-api/cart-line-item-update/index.js'
    'theme-shared/events/trade/developer-api/cart-detail-update/index.js'
    'theme-shared/events/trade/developer-api/checkout-detail-init/index.js'
    'theme-shared/events/trade/developer-api/checkout-detail-update/index.js'
    'theme-shared/events/trade/developer-api/index.js'
    'theme-shared/events/customer/enum/index.js'
    'theme-shared/events/customer/interior-event/index.js'
    'theme-shared/components/hbs/shared/utils/bem.js'
    'theme-shared/components/hbs/shared/components/modal/common.js'
    'theme-shared/components/hbs/shared/components/modal/lite.js'
    'theme-shared/components/hbs/shared/base/BaseClass.js'
    'theme-shared/components/hbs/shared/components/modal/full.js'
    'theme-shared/components/hbs/shared/components/modal/index.js'
    'theme-shared/events/customer/developer-api/login-modal/renderModal.js'
    'theme-shared/events/customer/developer-api/login-modal/index.js'
    'theme-shared/events/customer/developer-api/register/index.js'
    'theme-shared/events/customer/developer-api/index.js'
    'theme-shared/utils/dataReport/ads.js'
    'theme-shared/utils/dataReport/hd.js'
    'theme-shared/utils/dataReport/index.js'
    'theme-shared/utils/report/page.js'
    'theme-shared/report/common/baseReport.js'
    'theme-shared/report/product/utils/index.js'
    'theme-shared/utils/currency/getCurrencyCode.js'
    'theme-shared/report/product/product-quickAddCart.js'
    'theme-shared/events/product/sku-change/index.js'
    'theme-shared/events/product/quickView-click/index.js'
    'theme-shared/events/product/preview-init/index.js'
    'theme-shared/utils/report/pageMapping.js'
    'commons/components/modal/lite.js'
    'commons/components/modal/full.js'
    'commons/components/modal/index.js'
    'commons/components/toast/toast.js'
    'commons/components/toast/loading.js'
    'commons/components/toast/index.js'
    'commons/utils/url.js'
    'theme-shared/components/hbs/products/checkedEvent/index.js'
    'theme-shared/components/smart-payment/services.js'
    'theme-shared/components/smart-payment/reporter/constants.js'
    'theme-shared/components/smart-payment/reporter/CheckoutHiidoReportV2.js'
    'theme-shared/components/smart-payment/reporter/ThirdPartReport.js'
    'theme-shared/components/locales/index.js'
    'theme-shared/components/smart-payment/index.js'
    'theme-shared/components/payment-button/constants.js'
    'theme-shared/components/payment-button/utils.js'
    'theme-shared/components/payment-button/express_checkout.js'
    'theme-shared/components/smart-payment/payments.js'
    'theme-shared/events/product/paypal-fallback/index.js'
    'theme-shared/components/pay-button/constants.js'
    'theme-shared/components/pay-button/utils.js'
    'theme-shared/components/pay-button/payment-button/utils.js'
    'theme-shared/components/pay-button/payment-button/constants.js'
    'theme-shared/components/pay-button/payment-button/index.js'
    'theme-shared/events/trade/developer-api/cart-sidebar-render/index.js'
    'theme-shared/utils/tradeReport/hdReportV2.js'
    'theme-shared/utils/tradeReport/eventListen.js'
    'theme-shared/components/hbs/shared/components/topDrawer/const.js'
    'theme-shared/components/hbs/shared/components/drawer/const.js'
    'commons/logger/index.js'
    'commons/utils/isMobile.js'
    'commons/utils/throttle.js'
    'commons/utils/main.js'
    'commons/utils/helper.js'
    'commons/utils/index.js'
    'cart/script/biz/sticky-cart/helper.js'
    'cart/script/report/cartReport.js'
    'cart/script/biz/sticky-cart/index.js'
    'cart/script/domain/adapter/svc/internal/config.js'
    'cart/script/domain/adapter/svc/internal/transport.js'
    'cart/script/domain/adapter/svc/index.js'
    'cart/script/domain/adapter/storage/constant.js'
    'cart/script/domain/adapter/storage/index.js'
    'cart/script/utils/event-bus/index.js'
    'cart/script/domain/adapter/svc/internal/constant.js'
    'cart/script/domain/adapter/svc/cart.js'
    'cart/script/domain/adapter/svc/voucher.js'
    'cart/script/domain/adapter/svc/coupon.js'
    'cart/script/domain/model/helpers.js'
    'cart/script/domain/adapter/svc/order.js'
    'cart/script/constant/responseCode.js'
    'cart/script/constant/cartQuantity.js'
    'cart/script/domain/model/cart.js'
    'cart/script/constant/stockType.js'
    'cart/script/domain/vo/productStock.js'
    'cart/script/constant/priceType.js'
    'cart/script/domain/vo/productPriceType.js'
    'cart/script/utils/object.js'
    'cart/script/domain/model/cartItem.js'
    'cart/script/domain/vo/responseCode.js'
    'cart/script/domain/model/response.js'
    'cart/script/domain/model/promotionCode.js'
    'theme-shared/biz-com/trade/optimize-modal/constant.js'
    'theme-shared/biz-com/trade/optimize-modal/cartChangeItem.js'
    'cart/script/domain/vo/productVerifyType.js'
    'cart/script/domain/model/cartVerifyItem.js'
    'cart/script/service/cart/hooks.js'
    'cart/script/service/cart/service.js'
    'cart/script/service/cart/index.js'
    'cart/script/service/index.js'
    'commons/utils/dynamicImportMiniCart.js'
    'commons/cart/errorCode.js'
    'commons/cart/handleAddToCartErrorCodeToast.js'
    'commons/cart/globalEvent.js'
    'commons/utils/debounce.js'
    'theme-shared/components/payment-button/shopby_fast_checkout.js'
    'theme-shared/components/payment-button/index.js'
    'product/detail/js/payment_button.js'
    'theme-shared/report/product/add-to-cart.js'
    'product/detail/js/product-button-report.js'
    'product/detail/js/float-button.js'
    'product/detail/js/product-button.js'
    'theme-shared/utils/sku/DataWatcher.js'
    'theme-shared/components/hbs/flashSale/index.js'
    'product/commons/js/sku-stepper.js'
    'commons/utils/convertPrice.js'
    'product/detail/js/product-quantity.js'
    'product/utils/sku/skuUtil.js'
    'product/utils/sku/skuFilter.js'
    'product/commons/js/sku-trade/base-sku-trade.js'
    'product/commons/js/sku-trade/sku-trade-flatten.js'
    'theme-shared/components/hbs/shared/utils/imgUrl.js'
    'theme-shared/components/hbs/productImages/js/product-photoSwipeHtml.js'
    'theme-shared/components/hbs/productImages/js/modal.js'
    'commons/components/modal/common.js'
    'product/commons/js/sku-trade/sku-trade-select.js'
    'product/detail/js/sku-trade.js'
    'product/commons/js/product-info.js'
    'product/utils/nullishCoalescingOperator.js'
    'product/commons/js/quick-add-modal.js'
    'commons/product/openQuickViewATC.js'
    'commons/components/breadcrumb/index.js'
    'theme-shared/report/stage/const.js'
    'theme-shared/report/product/product-item.js'
    'theme-shared/utils/img-size.js'
    'theme-shared/components/hbs/shared/utils/getYouTubeCover.js'
    'theme-shared/utils/lozad/util.js'
    'theme-shared/utils/lozad/plugins/normal.js'
    'theme-shared/utils/lozad/plugins/image-gif-poster.js'
    'theme-shared/components/hbs/productImages/js/index.js'
    'theme-shared/events/product/sku-changed/index.js'
    'product/detail/js/product-swiper.js'
    'product/detail/js/layout.js'
    'theme-shared/utils/form/form.js'
    'theme-shared/utils/form/index.js'
    'theme-shared/utils/sku/firstAvailableSku.js'
    'theme-shared/report/customArgs/index.js'
    'theme-shared/report/product/detail/inquiry-modal-report.js'
    'commons/base/BaseClass.js'
    'product/detail/inquiry-price-modal.js'
    'product/commons/js/createShadowDom.js'
    'product/detail/js/tabs.js'
    'product/detail/js/product-collapse.js'
    'theme-shared/components/hbs/thirdPartyShare/js/index.js'
    'commons/thirdPartyShare/index.js'
    'theme-shared/report/product/product-preview.js'
    'product/detail/js/product-preview.js'
    'product/commons/js/preview-modal/preview-modal.js'
    'product/commons/js/preview-modal/index.js'
    'product/commons/js/product-item.js'
    'commons/pre-bundle.js'
    'theme-shared/utils/sectionsLoad/index.js'
    'commons/layout/theme/mod/parallax.js'
    'theme-shared/report/common/inputReport.js'
    'theme-shared/report/common/hoverReport.js'
    'theme-shared/report/stage/index.js'
    'theme-shared/report/stage/virtualReport.js'
    'commons/report/virtualReport.js'
    'commons/layout/theme/index.js'
    type="text/javascript"
    defer=true
  }}


  <script>window.__REPORT_DATA__ = window.__REPORT_DATA__ || {};</script>
  {{ snippet 'page-head/creator' }}

  {{ preload_state 'storeInfo' 'tradeSettleConfig' 'tradeCollectionConfig' }}
  {{ preload_state 'currencyCode' }}
  {{ preload_state 'currencyRates' }}
  {{ preload_state 'request' }}
  {{ preload_state 'theme.settings.cart_open_type' }}
  {{ preload_state 'cartInfo' 'payChannelInfo' }}
  {{ preload_state 'fastCheckout' }}

  {{ preload_state 'expressCheckout' }}
  {{ preload_state 'paymentButtonConfig' }}
  {{ preload_state 'cartInfo' 'variants' }}
</head>

<body class="template--le template__{{ replace template '/' '-' }}"
  data-button_style="radius"
  data-type_title_uppercase="{{ theme.settings.type_title_uppercase }}"
  data-type_navigation_font="{{ theme.settings.type_navigation_font }}"
  data-type_navigation_uppercase="{{ theme.settings.type_navigation_uppercase }}"
  >
  <div id="google_translate_element"></div>
  {{ section 'announcement-bar' }}
  {{ section 'header' }}
  {{ content_for_layout }}
  {{ section 'footer' }}
  {{ preload_state 'template' }}
  {{ preload_state 'templateAlias' }}

  <script>
    window.__I18N__ = window.__I18N__ || {};
    window.__I18N__['cart'] = {{{ json (t 'cart') }}};
    window.__I18N__['customer'] = {{{ json (t 'customer') }}};
    window.__I18N__['ec'] = {{{ json (t 'ec') }}};
    window.__I18N__['products'] = {{{ json (t 'products') }}};
    window.__I18N__['transaction'] = {{{ json (t 'transaction') }}};
    window.__I18N__['sales'] = {{{ json (t 'sales') }}};
    window.__I18N__['general'] = {{{ json (t 'general') }}};
    window.__I18N__['blog'] = {{{ json (t 'blog') }}};
    window.__I18N__['unvisiable'] = {{{ json (t 'unvisiable') }}};
    window.__I18N__['validate'] = {{{ json (t 'validate') }}}

  </script>

  {{#form "localization" id="sl-localization-form" enctype="multipart/form-data" accept-charset="UTF-8"}}
  <input type="hidden" name="country_code" value="{{localization.country.iso_code}}" />
  <input type="hidden" name="locale_code" value="{{localization.language.iso_code}}" />
{{/form}}



  <script src="{{ assets_url 'jquery.min.js' }}"></script>
  {{ snippet 'page-scripts/creator' }}


  {{ content_for_footer }}
  <div data-ssr-plugin-body-bottom></div>

</body>

</html>
