{{ preload_state 'customer.order' }}

<div class="customer-order-detail">
  {{snippet 'customer/order/detail/breadcrumb'}}
  <main class="main-wrapper" role="main">
    {{#with customer.order}}
      <div class="detail-status-bar"></div>
      {{snippet 'customer/order/detail/information'}}
      {{snippet 'customer/order/detail/orders-package-list' ordersPackageList=ordersPackageList unshippedItemInfo=unshippedItemInfo }}
      {{section 'customer/order/detail/summations' pageData=this pageType="orderDetail" settleSumAmount=totalAmount }}
      {{snippet 'customer/order/detail/payment' pageData=this}}
      {{#if otherInfo.buyerRemark}}
        {{snippet 'customer/order/detail/order-remark' content=otherInfo.buyerRemark}}
      {{/if}}
      {{snippet 'customer/order/detail/contact-us'}}
    {{/with}}
  </main>
</div>

<script>
    window.__I18N__ = window.__I18N__ || {};
    window.__I18N__['order'] = {{{ json (t 'order') }}};
    window.__I18N__['trade'] = {{{ json (t 'trade') }}};
    window.__I18N__['payments-name'] = {{{ json (t 'payments-name') }}};
</script>