{{ preload_state 'customer.orders' }}


{{#snippet 'customer/user-center-container' }}
  
  {{#with customer.orders}}
    <div class="shopline-element-order-history-list customer-order-list">
      <main class="main-wrapper" role="main">
        {{#if (length list)}}
          {{#each list}}
            {{include 'snippets/customer/order/list/sku-item' data=this}}
          {{/each}}
        {{else}}
          
          <div class="empty">
            <p class="empty-title">
              {{t 'order.order_list.no_record'}}
            </p>
            <button class="btn btn-primary go-shipping-btn">
              {{t 'transaction.payment.continue_shopping' }}
            </button>
          </div>
        {{/if}}
      </main>
      {{#if (length list)}}
        <div class="load-more">
          <div class="loading-container hide">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 10C2 14.4183 5.58172 18 10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2" stroke="currentColor" stroke-width="3" />
            </svg>
          </div>
        </div>

        {{#if lastPage}}
          <p class="no-more">
            - {{t 'order.order_list.no_more_info'}} -
          </p>
        {{/if}}
      {{/if}}

    </div>
  {{/with}}

{{/snippet}}

<script>
    window.__I18N__ = window.__I18N__ || {};
    window.__I18N__['order'] = {{{ json (t 'order') }}};
    window.__I18N__['trade'] = {{{ json (t 'trade') }}};
</script>
