{{ layout none }}
<div class="trade_mini_cart">
  {{#if theme.settings.cart_open_type '===' 'minicart'}}
  {{ snippet 'trade/banner' }}
  {{else}}
  {{ snippet 'trade/drawer-mini-cart' }}
  {{/if}}
</div>
<!-- cart/script/mini-cart.js -->
  {{#if request.document_direction '===' 'rtl'}}
    {{ combine_asset_tag 'vendors/@yy_sl-theme-shared.min.rtl.css' inline=true }}
    {{ combine_asset_tag 'vendors/@sl_cart.min.rtl.css' inline=true }}
  {{else}}
    {{ combine_asset_tag 'vendors/@yy_sl-theme-shared.min.css' inline=true }}
    {{ combine_asset_tag 'vendors/@sl_cart.min.css' inline=true }}
  {{/if}}
  {{ combine_asset_tag 
    'vendors/debug.min.js'
    'vendors/@yy_sl-theme-shared.min.js'
    'vendors/eventemitter3.min.js'
    'vendors/@sl_currency-tools-core.min.js'
    'vendors/lodash.min.js'
    'vendors/@sl_pay-button.min.js'
    'vendors/uuid.min.js'
    'vendors/js-cookie.min.js'
    'vendors/axios.min.js'
    'vendors/query-string.min.js'
    'vendors/@yy_sl-ec-tracker.min.js'
    'vendors/tinycolor2.min.js'
    'vendors/@sl_cart.min.js'
    'vendors/@funnyecho_hamon.min.js'
    'vendors/@yy_sl-pod-preview-image.min.js'
    type="text/javascript"
    defer=true
  }}
  {{ combine_asset_tag 
    'theme-shared/utils/get-env.js'
    'theme-shared/utils/createLogger.js'
    'commons/logger/index.js'
    'theme-shared/biz-com/sales/cart-slot/helpers/getCartItemId.js'
    'theme-shared/biz-com/sales/cart-slot/free-shipping/index.js'
    'theme-shared/biz-com/sales/cart-slot/index.js'
    'cart/script/biz/sales/index.js'
    'theme-shared/utils/event-bus.js'
    'theme-shared/utils/parsePathToArray.js'
    'theme-shared/utils/state-selector.js'
    'theme-shared/utils/newCurrency/CurrencyConvert.js'
    'theme-shared/utils/syntax-patch.js'
    'theme-shared/utils/i18n.js'
    'theme-shared/components/hbs/shared/components/toast/toast.js'
    'theme-shared/components/hbs/shared/components/toast/loading.js'
    'theme-shared/components/hbs/shared/components/toast/index.js'
    'theme-shared/components/smart-payment/constants.js'
    'theme-shared/const/preload-state-fields.js'
    'theme-shared/components/smart-payment/utils.js'
    'theme-shared/utils/tradeReport/const.js'
    'theme-shared/components/hbs/shared/base/BaseClass.js'
    'theme-shared/components/hbs/shared/components/topDrawer/const.js'
    'theme-shared/components/hbs/shared/components/topDrawer/index.js'
    'theme-shared/components/pay-button/constants.js'
    'theme-shared/utils/report/const.js'
    'theme-shared/utils/newCurrency/index.js'
    'theme-shared/utils/dataReport/tool.js'
    'theme-shared/utils/dataReport/ga.js'
    'theme-shared/utils/dataReport/gad.js'
    'theme-shared/utils/dataReport/fb.js'
    'theme-shared/utils/report/tool.js'
    'theme-shared/utils/tradeReport/index.js'
    'theme-shared/components/pay-button/utils.js'
    'theme-shared/components/pay-button/additional-button/constants.js'
    'theme-shared/components/pay-button/additional-button/utils.js'
    'theme-shared/components/pay-button/additional-button/index.js'
    'theme-shared/utils/request.js'
    'theme-shared/utils/retryRequest.js'
    'theme-shared/utils/url-adaptor.js'
    'theme-shared/utils/dataAccessor.js'
    'theme-shared/utils/url.js'
    'theme-shared/utils/constant.js'
    'theme-shared/utils/checkout.js'
    'theme-shared/components/smart-payment/services.js'
    'theme-shared/components/smart-payment/reporter/constants.js'
    'theme-shared/components/smart-payment/reporter/CheckoutHiidoReportV2.js'
    'theme-shared/components/smart-payment/reporter/ThirdPartReport.js'
    'theme-shared/components/locales/index.js'
    'theme-shared/components/smart-payment/index.js'
    'theme-shared/components/payment-button/constants.js'
    'theme-shared/components/payment-button/utils.js'
    'theme-shared/components/payment-button/express_checkout.js'
    'theme-shared/components/smart-payment/payments.js'
    'theme-shared/utils/template.js'
    'theme-shared/components/hbs/sales/shoppingPromotionReminder/index.js'
    'theme-shared/components/hbs/cartSalesPromotion/js/content/reminder/getPromotionReminder.js'
    'theme-shared/components/hbs/cartSalesPromotion/js/content/helpers/format.js'
    'theme-shared/utils/colorExtract.js'
    'theme-shared/components/hbs/cartSalesPromotion/js/content/reminder/index.js'
    'theme-shared/components/hbs/cartSalesPromotion/js/content/index.js'
    'theme-shared/components/hbs/cartSalesPromotion/js/index.js'
    'theme-shared/utils/trade/discount-code.js'
    'commons/utils/main.js'
    'commons/utils/helper.js'
    'commons/utils/index.js'
    'commons/utils/imgUrl.js'
    'cart/script/utils/event-bus/index.js'
    'cart/script/domain/adapter/svc/internal/constant.js'
    'cart/script/domain/adapter/svc/cart.js'
    'cart/script/domain/adapter/svc/voucher.js'
    'cart/script/domain/adapter/svc/coupon.js'
    'cart/script/domain/model/helpers.js'
    'cart/script/domain/adapter/svc/order.js'
    'cart/script/domain/adapter/storage/constant.js'
    'cart/script/constant/responseCode.js'
    'cart/script/constant/cartQuantity.js'
    'cart/script/domain/model/cart.js'
    'cart/script/constant/stockType.js'
    'cart/script/domain/vo/productStock.js'
    'cart/script/constant/priceType.js'
    'cart/script/domain/vo/productPriceType.js'
    'cart/script/utils/object.js'
    'cart/script/domain/model/cartItem.js'
    'cart/script/domain/vo/responseCode.js'
    'cart/script/domain/model/response.js'
    'cart/script/domain/model/promotionCode.js'
    'theme-shared/biz-com/trade/optimize-modal/constant.js'
    'theme-shared/biz-com/trade/optimize-modal/cartChangeItem.js'
    'cart/script/domain/vo/productVerifyType.js'
    'cart/script/domain/model/cartVerifyItem.js'
    'cart/script/service/cart/hooks.js'
    'cart/script/service/cart/service.js'
    'commons/components/toast/toast.js'
    'commons/components/toast/loading.js'
    'commons/components/toast/index.js'
    'cart/script/service/cart/index.js'
    'cart/script/utils/cart-util/index.js'
    'theme-shared/utils/currency/getCurrencyCode.js'
    'cart/script/report/cartReport.js'
    'commons/utils/isMobile.js'
    'commons/utils/throttle.js'
    'cart/script/biz/sticky-cart/helper.js'
    'cart/script/biz/sticky-cart/index.js'
    'cart/script/domain/model/observer.js'
    'cart/script/domain/model/skuPromotionVerify.js'
    'commons/cart/errorCode.js'
    'commons/cart/handleAddToCartErrorCodeToast.js'
    'cart/script/components/sku-stepper.js'
    'cart/script/components/remove-button.js'
    'cart/script/components/remove-all-button.js'
    'cart/script/utils/context/constant.js'
    'cart/script/utils/context/valuer.js'
    'cart/script/valuer/cartItemList.js'
    'cart/script/valuer/cartService.js'
    'cart/script/utils/promise.js'
    'cart/script/utils/time.js'
    'cart/script/utils/context/index.js'
    'cart/script/valuer/checkoutHooks.js'
    'cart/script/valuer/cartActionHooks.js'
    'cart/script/valuer/index.js'
    'cart/script/components/promotion-limited/index.js'
    'cart/script/components/promotion-limited/render.js'
    'theme-shared/components/hbs/active/js/index.js'
    'cart/script/components/sku-card.js'
    'theme-shared/components/hbs/shared/components/tooltip/index.js'
    'commons/components/tooltip/index.js'
    'cart/script/components/trade-checkbox/index.js'
    'cart/script/biz/trade-summations/index.js'
    'cart/script/biz/trade-coupon/index.js'
    'cart/script/biz/checkout/effect.js'
    'cart/script/biz/checkout/module_checkout.js'
    'cart/script/biz/checkout/module_express_checkout.js'
    'theme-shared/components/payment-button/shopby_fast_checkout.js'
    'theme-shared/components/payment-button/index.js'
    'cart/script/biz/checkout/payment_button.js'
    'cart/script/biz/checkout-error/index.js'
    'cart/script/domain/adapter/svc/internal/config.js'
    'cart/script/domain/adapter/svc/internal/transport.js'
    'cart/script/domain/adapter/svc/index.js'
    'cart/script/domain/adapter/storage/index.js'
    'cart/script/service/index.js'
    'cart/script/biz/cart/contant.js'
    'theme-shared/events/trade/interior-event/index.js'
    'theme-shared/events/utils/api-logger.js'
    'theme-shared/events/trade/enum/index.js'
    'theme-shared/events/trade/developer-api/cart-sidebar-render/index.js'
    'theme-shared/utils/tradeReport/hdReportV2.js'
    'theme-shared/utils/tradeReport/eventListen.js'
    'theme-shared/components/hbs/shared/components/drawer/const.js'
    'commons/utils/dynamicImportMiniCart.js'
    'commons/cart/globalEvent.js'
    'cart/script/components/banner.js'
    'cart/script/biz/cart/cart_module.js'
    'cart/script/biz/cart/index.js'
    'cart/script/mini-cart.js'
    type="text/javascript"
    defer=true
  }}

