{{layout 'gift_card'}}

{{preload_state 'gift_card'}}

{{ assign 'invalid' (or (isFalsey gift_card.enabled) (isTruthy gift_card.expired))}}

{{#if gift_card.code}}
<div id="giftCardPage">
  <div class="storeName">{{ storeInfo.name }}</div>
  {{#if invalid}}
    <div class="giftCardStatus">Your giftcard is invalid, please buy another one</div>
  {{else}}
    <div class="giftCardStatus">Please receive your giftcard</div>
  {{/if}}
  <div class="giftCardWrapper {{#if invalid}}disabled{{/if}}">
    <div class="giftCardBox">
      <div class="giftCardBg {{#or show_pos_qr_code  show_pos_bar_code}}hasCodeImg{{/or}}">
        {{#if (isTruthy show_pos_qr_code)}}
          <div class="giftCardQrCode" data-gift-code="{{gift_card.code}}"></div>
        {{/if}}
        {{#if (isTruthy show_pos_bar_code)}}
        <div class="giftCardBarcode" data-gift-code="{{gift_card.code}}"><img id='giftCardBarcodeImg' /></div>
       {{/if}}
        <div class="giftCardCode notranslate">{{ gift_card.code }}</div>
      </div>
    </div>
    <div class="giftCardInfo">
      <div class="balance item">
        <div class="name">Balance</div>
        <div class="content isolate notranslate">{{money_exchange_convert_with_currency gift_card.balance}}</div>
      </div>
      <div class="expirationTime item">
        <div class="name">Expiry date</div>
        {{#if gift_card.expires_on}}
          <div class="content">
            <div class="ytdDate">
              {{#if gift_card.expired}}{{snippet 'icons/icon_giftcard_warning'}}<em>Expired at</em>{{/if}}<span>{{dayjs method="format" tz=storeInfo.timezone format="MMMM DD,YYYY" init=gift_card.expires_on}}</span>
            </div>
            <div class="hmsDate">at {{dayjs method="format" tz=storeInfo.timezone format="h:mm a" init=gift_card.expires_on}} {{storeInfo.timezone}}</div>
          </div>
        {{else}}
          <div class="content">Permanent</div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="giftCardUseBox">
    <a href="{{ redirect_to '/' }}" target="_blank" rel="noopener" class="useBtn">{{#if invalid}}Buy a giftcard{{else}}Use the giftcard{{/if}}</a>
    {{#if (isFalsey invalid)}}
      <div class="useExplain">You can enter the giftcard number at checkout for deduction</div>
    {{/if}}
  </div>
</div>
{{else}}
<div class="noGiftCardData"></div>
{{/if}}